body {
  background-color: #ffffff;
  font-family: 'lacquer','poppins';
}

.container h1 {
  font-weight: 720;
  padding-bottom: 20px;
  padding-top: 150px;
}
.order-section {
  display: flex;
}
.alldiv {
  border: none;
  border-top: 1px solid #ffa500;
  outline: none;
  border-radius: 0;
  padding-top: 40px;
  font-family: 'poppins',Arial, Helvetica, sans-serif;
}
.order-section img {
  max-width: 70%;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  font-weight: bold;
  color: #343a40;
}
.form-control {
  background-color: white;
  border: none;
  border-bottom: 1px solid #343a40;
  outline: none;
  border-radius: 0;
}
.hidden {
  display: none;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px;
  width: 100%;
}
.popup h3 {
  margin-top: 0;
  color: #343a40;
}
.popup p {
  margin: 5px 0;
  color: #343a40;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.btn-primary {
  background-color: #ffa500;
  border-color: #ffa500;
}
.btn-primary:hover {
  background-color: #e59400; /* Slightly darker shade for hover */
  border-color: #e59400;
}
.btn-close-modal {
  background-color: #ffa500;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-close-modal:hover {
  background-color: #e59400;
}